@import "./components/all-components";
@import '~antd/dist/antd.css';
@import "variables-dark";

body {
  background-color: $body-background-color;
}

.header {
  background-color: $header-background-color;

  h2 {
    color: $text-color--primary;
  }
}

.main {
  background-color: $main-background-color;
}